html
{
   /* background-image:url(Iformulaire.jpeg);*/
   /* background-repeat:no-repeat;
    background-size:cover;
    background-position:center;  */ 
    background-color: rgb(131, 136, 147);               
}
#block
{
    background-color: rgb(40, 88, 176);
    padding:2px;
    display:block;  
    margin-right:500px;   
    float:right;
    border: 50px;
    width:fit-content;
    text-align:center;
    font-family:Garamond;       
    color:white;
}
#titre
{
    padding:2px;
    margin:0;  
    float:center;
    color:rgb(40, 88, 176);
    text-align: center;
}
.mark
{
    color:rgb(232, 225, 28);
}
